#category-fwb /deep/ {
  //fsc
  .z-99 {
    z-index: 99;
  }
  .userType.f1 {
    a {
      color: #333;
    }

    h2 {
      width: 80%;
      margin: auto;
    }
  }

  .userType.f2 {
    a {
      color: #333;
    }

    h2 {
      width: 80%;
      margin: auto;
    }

    h3 {
      margin-bottom: 0 !important;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
    }
  }

  .always {
    padding: 20px;
  }

  .custom_box {
    vertical-align: top;
    display: inline-block;
    height: 450px;

    .custom_box_conter {
      position: relative;
      height: 133px;
      width: 97%;

      p {
        font-size: 60px;
        font-weight: bold;
        color: #333333;
        display: inline-block;
        line-height: 133px;
        margin-left: 50px;
        vertical-align: middle;
      }

      div {
        vertical-align: middle;
        margin-left: 20px;
      }
    }

    .custom_box_conter:before {
      border: 67px solid transparent;
      border-left: 38px solid #fff;
      position: absolute;
      content: "";
      left: 0%;
    }

    .custom_box_conter:after {
      border: 67px solid transparent;
      border-left: 38px solid #b5eaff;
      position: absolute;
      content: "";
      left: 100%;
    }

    h3 {
      text-align: center;
      margin-top: 45px;
      font-size: 24px;
    }
  }

  .custom_box2 .custom_box_conter:after {
    border-left: 38px solid #8ef6db;
  }

  .custom_box3 .custom_box_conter:after {
    border-left: 38px solid #ffe5ac;
  }

  .custom_box4 .custom_box_conter:after {
    border-left: 38px solid #ffada3;
  }

  .font_wei {
    font-weight: 400;
    color: #000000;
    font-size: 18px;
  }

  .Stickers_pcul {
    li {
      padding: 10px;
    }

    span {
      height: 5px;
      width: 5px;
      background-color: #000;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 15px;
    }
  }

  .Question {
    width: 100%;

    li {
      background: #f0f0f0;
      padding: 20px;
      margin-top: 10px;
      width: 100%;

      p {
        font-size: 18px;
        font-weight: bold;
        color: #222222;
        line-height: 18px;
      }
    }
  }
  .customstickers_banner {
    h1 {
      font-size: 60px;
    }
  }
  .oval-stickers.f5 {
    .popular_div {
      position: relative;
      cursor: pointer;

      a {
        transition: all .3s ease-in-out;
        color: #333;
      }

      .popular_item {
        position: relative;

        em {
          opacity: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
          font-weight: 700;
          color: #fff;
          z-index: 11;
          transition: opacity .3s ease-in-out;
        }

        &::after {
          content: "";
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
          z-index: 10;
          transition: opacity .3s ease-in-out;
        }
      }

      &:hover {
        .jumpIcon {
          width: 0 !important;
          height: 0 !important;
        }

        .popular_item::after, .popular_item em {
          opacity: 1;

        }

        a {
          color: #1296DB;
          text-decoration: underline;
        }
      }

    }
  }

  //fsc
  .userType.f1 {
    a {
      color: #333;
    }

    h2 {
      width: 80%;
      margin: auto;
    }
  }
  .userType.f2{
    h2 {
      width: 80%;
      margin: auto;
    }

    h3 {
      margin-bottom: 0 !important;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
    }
  }
  .userType.f3 {
    h3 {
      a {
        color: #333;
      }
    }
  }
  .userType.f4 {
    background: url('https://sticker-static.oss-accelerate.aliyuncs.com/image/uploads/20210420/uses_bg1.jpg') no-repeat;
    background-size: 100% 90%;
    padding-bottom: 4.5rem !important;
    ul>li {
      color: #fff;
      p {
        position: relative;
        span {
          display: inline-block;
        }
        span:nth-child(1) {
          background-color: #fff;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top:10px;
        }
        span:nth-child(2) {
          margin-left: 5%;
          width: 95%;
          border-bottom: 1px dashed #fff;
          padding-bottom: 5px;
        }
        .f5_text6 {
          background: #CDCAC7;
          height: 10px;border-radius: 50%;
          margin-top: 5px;
        }
      }
    }
    @media screen and (max-width: $breakpoint-sm-max) {
      background: url('https://sticker-static.oss-accelerate.aliyuncs.com/image/uploads/20210420/uses_bg1.jpg') no-repeat;
      background-size: 100% 75%;
      padding-bottom: 1.5rem !important;
      .userTypef3_img {
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
      }
      #openBox {
        justify-content: center;
        a {
          width: 50% !important;
        }
      }
      .openBox_box {
        left: 50% !important;
        transform: translateX(-50%);
        margin:0 0 0 10px !important;
        bottom: -65px !important;
        width: 50% !important;
      }
    }
  }
  .userType.f5 {
    .f5_text6 {
      height: 10px;
      background-color: #CDCAC7;
      position: absolute;
      border-radius: 50%;
    }
    @media screen and (max-width: $breakpoint-sm-max) {
      .f5_text6 {
        left: 50%;
        transform: translateX(-50%);
      }
      #f5_text5 {
        justify-content: center;
      }
    }
  }
  .soaplabels.f2 {
    .soaplabels_f2_index2 {
      position: absolute;
    }
    .box {
      display: inline-block;
      position: relative;
      width: 120%;
      padding: 10px 20px 10px 0;
      -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
      border-radius: 3px;
      background-color: #fff;
      border: 1px solid #bbb;
    }

    .box[data-box-arrow]:before,
    .box[data-box-arrow]:after {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 27px;
      border-color: transparent;
    }

    .box[data-box-arrow="top"]:before,
    .box[data-box-arrow="top"]:after {
      bottom: 100%;
      left: 45%;
    }

    .box[data-box-arrow="top"]:before {
      border-bottom-color: #bbb;
    }

    .box[data-box-arrow="top"]:after {
      border-bottom-color: #fff;
      margin-bottom: -1px;
    }
    .box[data-box-arrow="left"]:before,
    .box[data-box-arrow="left"]:after {
      right: 100%;
      top: 37%;
    }
    .box[data-box-arrow="left"]:before {
      border-right-color: #bbb;
    }

    .box[data-box-arrow="left"]:after {
      border-right-color: #fff;
      margin-right: -1px;
    }
    .triangle {
      border: 24px solid;
      border-left-color: lightslategrey;
      border-right-color: lightcoral;
      border-top-color: lawngreen;
      border-bottom-color: lightgreen;
      box-sizing: border-box;
      width: 170px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      z-index: 100;
    }
    .Label_li li {
      margin-bottom: 10px;
      position: relative;
    }
    .Label_li li:after {
      position: absolute;
      content: '';
      border-bottom: 1px dashed #ccc;
      top: 15px;
      height: calc(100% - 10px);
      width: 90%;
      left: 5%;
    }

    .triangle_p {
      display: inline-block;
      width: 70%;
      padding-left: 5%;
      vertical-align: top;
    }
    .triangle[data-box-arrow="5D99DF"] {
      border-color: #5D99DF transparent #5D99DF #5D99DF;
    }
    .triangle[data-box-arrow="F49844"] {
      border-color: #F49844 transparent #F49844 #F49844;
    }
    .soaplabels_f2_h21 {
      display: none;
    }
    .soaplabels_f2_h22 {
      display: block;
    }
    @media screen and (max-width: $breakpoint-sm-max) {
      .triangle {
        width: 35% !important;
      }
      .triangle_p {
        width: 60% !important;
      }
      .soaplabels_f2_span {
        top: 50% !important;
        transform: translateY(-50%);
      }
      .soaplabels_f2_h22 {
        display: none;
      }
      .soaplabels_f2_h21 {
        display: block;
      }
      .box {
        width: 100% !important;
        padding: 10px 0 0 0 !important;
      }
      .box[data-box-arrow="left"]:before,
      .box[data-box-arrow="left"]:after {
        bottom: 100%;
        left: 45%;
        transform: rotateZ(-135deg);
        top: -2% !important;
        border-width: 16px !important;
      }

      .box[data-box-arrow="left"]:before {
        border-bottom-color: #bbb;
      }

      .box[data-box-arrow="left"]:after {
        border-bottom-color: #fff;
        margin-bottom: -1px;
      }
      .soaplabels_f2_index2 {
        position: relative;
        left: 0 !important;
      }
    }
  }
  .soaplabels.f3 {
    img {
      border: 4px solid #fff;
    }
    .soap_divimg {
      width: 49% !important;
    }
    .soaplabels_f3_div_pc {
      display: block;
    }
    .soaplabels_f3_div_mb {
      display: none;
    }
    @media screen and (max-width: $breakpoint-sm-max) {
      .soaplabels_f3_div_pc {
        display: none;
      }
      .soaplabels_f3_div_mb {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
  .soaplabels.f5 {
    .choosetwo {
      background-color: #fff;
      border: 1px solid #CCCCCC;
      padding: 5px 20px;
      height: 410px;
      width: 350px;
    }
    .choosetwo:nth-child(2) {
      margin: 60px 30px 0 30px;
    }
    @media screen and (max-width: $breakpoint-sm-max) {
      .choosetwo {
        margin: 10px  auto!important;
        width: 90% !important;
        height: 100%;
      }
    }
  }
  .mailinglabels.f2 {
    .maiing {
      background: linear-gradient(180deg, #F0F8FF 0%, rgba(255, 255, 255, 0.37) 63%);
    }
    .maiing div:nth-child(1) {
      vertical-align: top;
      background-color: #0066BF;
      text-align: center;
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      border-radius: 20px 20px 0px 20px;
      box-shadow: 5px 0px 6px #0066BF;
      margin-right: 5%;
    }
    .maiing div:nth-child(2) {
      vertical-align: top;
      width: 80%;
      display: inline-block;
    }
    @media screen and (max-width: $breakpoint-sm-max) {
      .maiing {
        margin-top: 20px;
      }
      .maiing div:nth-child(1) {
        padding: 5px 10px !important;
      }
      .maiing div:nth-child(2) {
        width: 78%;
      }
    }
  }
  .mailinglabels.f5 {
    .chooes:nth-child(3) p {
      margin-top: -28px;
    }
    .chooes {
      height: 480px;
      margin-top: 80px;
      p {
        height: 225px !important;
      }
      h3 {
        margin-top: -40px;
        z-index: 10;
        position: relative;
      }
      img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
        top: -40%;
      }
    }
    @media screen and (max-width: $breakpoint-sm-max) {
      .chooes {
        max-width: 90% !important;
        margin: 130px auto;
        p {
          height: 100% !important;
        }
        img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -60%;
        }
      }
      .chooes:nth-child(1) {
        margin: 45px auto;
      }
    }
  }
  .customwinelabels.f2 {
    .labelul li {
      margin-bottom: 10px;
    }
    .labels {
      position: relative;
    }
    .labels div:nth-child(1) {
      background-color: #2290CF;
      color: #fff;
      text-align: center;
      width: 50%;
      border-radius: 0px 20px 20px 0px;
      font-size: 24px;
      position: relative;
      z-index: 10;
    }
    .labels div:nth-child(1) p {
      background-color: #FF7A00;
      color: #fff;
      border-radius: 50%;
      width: 10%;
      position: absolute;
      left: -5%;
      height: 90%;
      top: 5%;
      text-align: center;
      line-height: 25px;
      font-size: 20px;
    }
    .labels div:nth-child(2) {
      border: 1px solid #DCDCDC;
      border-radius: 0px 0px 0px 20px;
      padding: 20px 10px 10px 10px;
      margin-top: -20px;
    }
    @media screen and (max-width: $breakpoint-sm-max) {
      .customwinelabels_index2 {
        max-width: 95% !important;
        margin: 10px auto;
      }
      .labels div:nth-child(1) {
        @include px2rem(height, 60px, mobile, true);
        @include px2rem(line-height, 60px, mobile, true);
        p {
          height: 70%;
          top: 15%;
          width: 15%;
          left: -7%;
          @include px2rem(line-height, 42px, mobile, true);
        }
      }
    }
  }
  .customwinelabels.f3 {
    @media screen and (max-width: $breakpoint-sm-max) {
      .customwinelabels_index3 {
        margin-bottom: 20px;
      }
    }
  }
  .customwinelabels.f5 {
    .customwinelabels_index5 div:nth-child(1) div{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 190px;
      height: 190px;
    }
    @media screen and (max-width: $breakpoint-sm-max) {
      .customwinelabels_index5 div:nth-child(1) div{
        @include px2rem(width,375px);
        @include px2rem(height,375px);
      }
      .customwinelabels_index5 div:nth-child(2) p {
        padding: 0 20px;

      }
    }

    @media screen and (min-width: $breakpoint-xl-min) {
      img{
        width: 100%;
        height: 100%;
      }
      .item{
        margin-top:80px !important;
        padding-top:100px !important;
      }
      .btn {
        width: 280px;
        height:40px;
        line-height: 40px;
        font-size: 24px;
      }
    }
  }
  .oval-stickers.f4,.Front-adhesive-stickers.f4 {
    h3 {
      text-align: center;
    }
    .list-item {
      overflow: hidden;
      position: relative;
      height: 100%;
      background-color: #fff;
      border: 1px solid #E8E8E8;
      padding: 10px;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.27);
      border-radius: 10px;
      @media screen and (max-width: $breakpoint-sm-max) {
        box-shadow: none;
        border:0;
      }
    }
    .imgWrap {
      width: 100%;
      height: 130px;
      border: none;
      box-shadow: none;
      background: transparent;
      margin-bottom: 20px;
      text-align: center;
      @media screen and (max-width: $breakpoint-sm-max) {
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.27);
        border: 1px solid #E8E8E8;
        padding: 10px 10px;
        height: auto;
      }
    }
  }
  .oval-stickers.f5,.Front-adhesive-stickers.f5 {
    .popular_div {
      position: relative;
      cursor: pointer;

      a {
        transition: all .3s ease-in-out;
        color: #333;
      }

      .popular_item {
        position: relative;

        em {
          opacity: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
          font-weight: 700;
          color: #fff;
          z-index: 11;
          transition: opacity .3s ease-in-out;
        }

        &::after {
          content: "";
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
          z-index: 10;
          transition: opacity .3s ease-in-out;
        }
      }

      &:hover {
        .jumpIcon {
          width: 0 !important;
          height: 0 !important;
        }

        .popular_item::after, .popular_item em {
          opacity: 1;

        }

        a {
          color: #1296DB;
          text-decoration: underline;
        }
      }

    }
  }
  .Holographic-after {
    h2 {
      padding-bottom: 20px;
    }
    h2::after {
      content: '';
      position: absolute !important;
      background-color: #0377EE;
      height: 4px;
      width: 10%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      @media screen and (max-width: $breakpoint-sm-max) {
        @include px2rem(width,160px);
      }
    }
  }
  .Holographic-Stickers.f2 {
    .row {
      .Holographic_f2_div1 {
        display: block;
        @media screen and (max-width: $breakpoint-sm-max) {
          display: none;
        }
      }
      .Holographic_f2_div3 {
        div {
          div {
            height: 50px;
            transform: skewX(20deg);
            p {
              transform: skewX(-20deg);
              line-height: 50px;
              @media screen and (max-width: $breakpoint-sm-max) {
                text-align: center;
                font-weight: bold;
              }
            }
          }
          ul li {
            line-height: 48px;
            img {
              width: 18px;
              height: 16px;
            }
            @media screen and (max-width: $breakpoint-sm-max) {
              line-height: 20px;
            }
          }
        }
        div:nth-child(1) {
          div {
            background-color: #444;
          }
        }
        div:nth-child(2) {
          div {
            background-color: #444;
          }
          .Holographic {
            background-color: #0377EE;
          }
        }
        .Holographic_f2_div4 {
          display: none;
          @media screen and (max-width: $breakpoint-sm-max) {
            display: block;
          }
        }
        @media screen and (max-width: $breakpoint-sm-max) {
          margin-top: 20px;
        }
      }
      .Holographic_f2_div2 {
        display: block;
        @media screen and (max-width: $breakpoint-sm-max) {
          display: none;
        }
        .twentytwenty-container {
          width: 315px;
          height: 315px;
          z-index: 10 !important;
          img {
            width: 315px;
            height: 315px;
          }
          @media screen and (max-width: $breakpoint-sm-max) {
            margin: 0 auto;
          }
        }
      }
      .Holographic_f2_div2_mb {
        display: none;
        @media screen and (max-width: $breakpoint-sm-max) {
          display: block;
        }
        .twentytwenty-container {
          height: 315px;
          z-index: 10 !important;
          img {
            width: 315px;
            height: 315px;
          }
          @media screen and (max-width: $breakpoint-sm-max) {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .Transfer-Stickers.f2 {
    .container {
      .row {
        div:nth-child(1) {
          .Transfer_p {
            border-radius: 4px 0 0 4px;

          }
        }
        div:nth-child(4) {
          .Transfer_p {
            border-radius: 0 4px 4px 0;
          }
        }
        @media screen and (max-width: $breakpoint-sm-max) {
          div:nth-child(3) {
            .Transfer_p {
              border-radius: 4px 0 0 4px;
            }
          }
          div:nth-child(2) {
            .Transfer_p {
              border-radius: 0 4px 4px 0;
            }
          }
        }
      }
    }
    .Transfer_pc_img {
      display: block;
      @media screen and (max-width: $breakpoint-sm-max) {
        display: none;
      }
    }
    .Transfer_mb_img {
      display: none;
      @media screen and (max-width: $breakpoint-sm-max) {
        display: block;
      }
    }
    .Transfer_p {
      height: 12px;
      background: #F0F0F0;
      bottom: 5%;
      @media screen and (max-width: $breakpoint-sm-max) {
        display: none;
      }
    }
    .Transfer_img {
      bottom: 28%;
      @media screen and (max-width: $breakpoint-sm-max) {
        bottom: 20%;
      }
    }
    .Transfer_div {
      top: 18%;
    }
    .Transfer_header {
      top: 0%;
    }
    .Transfer_public_style {
      z-index: 100;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
    }
  }
  .Sticker-Sheets.f2 {
    .Sheets {
      border-bottom: 1px dashed #ccc;
    }
    .Sheets_divimg_mb {
      display: none;
      @media screen and (max-width: $breakpoint-sm-max) {
        display: block;
      }
    }
    .Sheets_divimg_pc {
      display: block;
      @media screen and (max-width: $breakpoint-sm-max) {
        display: none;
      }
    }
  }
  .Sticker-Sheets.f5 {
    .list-item {
      .imgWrap {
        margin-top: 20px;
        margin-bottom: 0px;
      }
      @media screen and (max-width: $breakpoint-sm-max) {
        background-color: #f3f3f3 !important;
        .imgWrap {
          background-color: #fff;
          margin-top: 0px;
        }
      }
    }
  }
  .Square-Stickers.f4 {
    .height58 {
      @media screen and (min-width: $breakpoint-xl-min) {
        h3 {
          height: 30px;
        }
      }
    }
  }
  .Vinyl-Lettering {
    @media ( min-width : 1200px) {
      .col-xl-3 {
        max-width:20%;
      }
    }
  }
  .Vinyl-Lettering.f3 {
    border-bottom: 1px dashed #ccc;
    .row {
      // div:nth-child(1) {
      //   background: linear-gradient(0deg, #027BFB 0%, #1296DB 100%);
      // }
      // div:nth-child(3) {
      //   background: linear-gradient(0deg, #FFDFB0 0%, #FDF8EA 100%);
      // }
    }
  }

  .pc-mt30 {
    margin-top: 60px;
    @media screen and (min-width: $breakpoint-xl-min) {
      margin-top: 10px;
    }
  }
  .circle-stickers {
    .container {
      .custom-label-f1-div {
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -100%);
        z-index: 12;
        width: 100%;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
      }
      .custon-label-f1h2::after {
        content: '';
        position: absolute;
        background-color: #1296DB;
        width: 70px;
        height: 10px;
        left: 10%;
        bottom: 15%;
        @media screen and (max-width: $breakpoint-sm-max) {
          content: none;
        }
      }
    }
  }
  .custom-label-f4div {
    background-color: #fff !important;
    @media screen and (max-width: $breakpoint-sm-max) {
      background-color:transparent !important;
      color: #fff;
    }
  }
  .custom-label-f4img {
    @media screen and (max-width: $breakpoint-sm-max) {
      background-color: #fff;
      padding: 10px;
    }
  }
  .circle-stickers.f5 {
    .popular_div2 {
      margin-top: 0px !important;
      @media screen and (max-width: $breakpoint-sm-max) {
        margin-top: 10px !important;
      }
    }
  }
  .Custom-Oval-Buttons {
    background: url("https://sticker-static.oss-accelerate.aliyuncs.com/image/uploads/20210709/Oval-Buttons_Features-of-Custom-Oval-Buttons-PC.jpg") no-repeat;
    background-size: 100% 100%;
    @media screen and (max-width: $breakpoint-sm-max) {
      background: url("https://sticker-static.oss-accelerate.aliyuncs.com/image/uploads/20210709/Oval-Buttons_Features-of-Custom-Oval-Buttons-MB.jpg") no-repeat;
      padding-bottom: 0 !important;
    }
  }
  .Custom-Oval-Buttons-img {
    position: absolute;
    bottom: 0;
    width: 40%;
    left: 50%;
    @media screen and (max-width: $breakpoint-sm-max) {
      position: initial;
    }
  }
  .Rectangle-Buttons-ul {
    li {
      margin-bottom: 0 !important;
      border-bottom: none;
      list-style-type:square;
      margin-left: 20px;
    }
  }
  .Rectangle-disc-ul {
    li {
      margin-bottom: 0 !important;
      border-bottom: none;
      list-style-type:disc;
      margin-left: 20px;
    }
  }
  .Die-Cut-Stickers {
    .Rectangle-div-mb {
      display: none !important;
      @media screen and (max-width: $breakpoint-sm-max) {
        display: block !important;
      }
    }
  }
  .Rectangle-div-pc {
    display: block;
    @media screen and (max-width: $breakpoint-sm-max) {
      display: none;
    }
  }
}
