.home-wrap /deep/ {
  p {
    line-height: 1.4em;
  }
  .home-banner {
    overflow: hidden;
    position: relative;
    @include px2rem(height, 660px);
    width: 100%;

    .banner-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .banner-clothes {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 10px;

      .banner-text {
        text-align: center;

        h1 {
          @include px2rem(font-size, 65px);
          color: $primary;
          letter-spacing: 2px;
          text-transform: uppercase;
        }

        .banner-description {
          width: 95%;
          margin: 0 auto;
          @include px2rem(font-size, 24px);
          text-align: left;
          line-height: 1.2;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          @include px2rem(width, 290px);
          @include px2rem(height, 75px);
          margin-top: 10px;
          background: #ffffff;
          border: 4px solid #1296db;
          @include px2rem(border-radius, 38px);
          color: $primary;
          @include px2rem(font-size, 32px);
          font-weight: 700;
          text-align: center;
          opacity: 1;
          text-decoration: none;
          transition: color 0.15s ease-in-out,
          background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out;

          &:hover {
            color: #fff;
            background-color: lighten($primary, 5%);
            border-color: lighten($primary, 4%);
          }
        }
      }
    }
  }
  .arror-right {
    @include px2rem(width, 36px);
    @include px2rem(height, 26px);
    @media screen and (min-width: $breakpoint-xl-min) {
      width: 11px;
      height: 8px;
    }
    display: none;
    @media screen and (min-width: $breakpoint-xl-min) {
      display: inline-block;
    }

    img {
      width: 100%;
      height: 100%;
      display: none;
      @media screen and (min-width: $breakpoint-xl-min) {
        display: inline;
      }
    }
  }
  h2 {
    @include px2rem(padding-left, 10px);
    @include px2rem(padding-right, 10px);
    @include px2rem(font-size, 52px);
  }

  h3 {
    @include px2rem(font-size, 36px);
  }

  .part1 {
    @include px2rem(font-size, 32px);

    .imgWrap, .imgWrap2 {
      display: flex;
      justify-content: center;
      align-items: center;
      @include px2rem(height, 313px);
      @include px2rem(padding, 5px);
      border: 1px solid #E8E8E8;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.27);
      border-radius: 2px;
      background: #fff;
    }

    .imgWrap2 {
      @include px2rem(height, 237px);
    }
  }

  .part2 {
    @include px2rem(font-size, 32px);

    .jumpIcon {
      @include px2rem(width, 32px);
      @include px2rem(height, 32px);
    }
  }

  .part4 {
    p {
      @include px2rem(font-size, 32px);
    }
  }

  .part5 {
    text-align: left;

    .imgWrap {
      @include px2rem(width, 195px);
      @include px2rem(height, 181px);
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #E8E8E8;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.27);
      border-radius: 3px;
    }
  }
  .public-editor4{
    .img{
        display: inline-block;
        @include px2rem(width, 329px);
        @include px2rem(height, 270px);
        @media screen and (min-width: $breakpoint-xl-min) {
            width: 329px;
            height: 270px;
        }
        img{
            width:100%;
            height:100%;
        }
    }
}
}

//pc端样式
@media screen and (min-width: $breakpoint-xl-min) {
  .home-wrap /deep/ {
    .home-banner {
      height: 500px;

      .banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .banner-clothes {
        .banner-text {
          text-align: center;

          h1 {
            font-size: 60px;
          }

          .banner-description {
            font-size: 18px !important;
            color: #333;
            text-align: center;
          }

          a {
            width: 190px;
            height: 48px;
            line-height: 1.5;
            font-size: 24px;
            border-radius: 38px;
          }
        }
      }
    }

    h2 {
      font-size: 36px;
    }

    h3 {
      font-size: 24px;
    }

    .part1 {
      font-size: 18px;

      .product-item {
        overflow: hidden;
        position: relative;
        height: 100%;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        padding: 20px;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.27);
        border-radius: 10px;
        cursor: pointer;

        &::after {
          opacity: 0;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .5);
          z-index: 2;
          transition: opacity .5s ease-in-out;
        }

        &:hover {
          &::after {
            opacity: 1;
          }

          .link {
            color: #fff;
          }
        }

        .link {
          position: relative;
          z-index: 3;
          transition: color .3s ease-in-out;
        }
      }

      .imgWrap, .imgWrap2 {
        height: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
      }

      .imgWrap2 {
        height: 120px;
      }

    }

    .part2 {
      font-size: 18px;

      .part2-content {
        width: 950px;
        margin: 0 auto;
      }

      h3 {
        font-size: 18px;
      }

      .jumpIcon {
        transition: all .3s ease-in-out;
        width: 25px;
        height: 25px;
      }

      .popular_div {
        position: relative;
        cursor: pointer;
        div:last-child{
          height: 40px;
          line-height: 40px;
          padding: 0 !important;
        }
        a {
          transition: all .3s ease-in-out;
        }

        .popular_item {
          position: relative;

          em {
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            z-index: 11;
            transition: opacity .3s ease-in-out;
          }

          &::after {
            content: "";
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            z-index: 10;
            transition: opacity .3s ease-in-out;
          }
        }

        &:hover {
          .jumpIcon {
            width: 0 !important;
            height: 0 !important;
          }

          .popular_item::after, .popular_item em {
            opacity: 1;

          }

          a {
            color: #333;
            text-decoration: underline;
          }
        }

      }
    }

    .part4 {
      p {
        font-size: 18px;
      }

      .part4-content {
        width: 80%;
        margin: 0 auto;
      }
    }

    .part5 {
      text-align: center;

      .list-item {
        overflow: hidden;
        position: relative;
        height: 100%;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        padding: 20px;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.27);
        border-radius: 10px;
      }

      .imgWrap {
        width: 100%;
        height: 130px;
        border: none;
        box-shadow: none;
        background: transparent;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
