#category-fwb /deep/ {
  //faq 所有分类通用
  .faq {
    li {
      border-bottom: 3px solid #dcdcdc;
      @include px2rem(margin-bottom, 40px, mobile, true);
    }

    .question {
      @include px2rem(font-size, 32px);
    }

    .faq_img {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      @include px2rem(margin-left, 30px);
      background: url("https://sticker-static.oss-accelerate.aliyuncs.com/image/uploads/20210507/index_icon97.png") center/contain no-repeat;
    }

    .closeFaq {
      display: none;
    }

    .answer {
      display: none;
      color: #444444;
      @include px2rem(font-size, 32px);
    }

    @media screen and (min-width: $breakpoint-xl-min) {
      li {
        margin-bottom: 20px !important;
      }
      #faq {
        width: 800px;
        margin: 30px auto !important;
      }
      .question {
        font-size: 24px;
      }
      .answer {
        font-size: 18px;
      }
      .faq_img {
        position: relative;
        width: 20px;
        height: 20px;
        margin-left: 30px;
        top: 5px;
      }
    }
  }

  .sticker-part2,
  .buttons-part2,
  .magnets-part2 {
    h2 {
      width: 70%;
    }

    h3 {
      width: 75%;
      margin: 0 auto 10px auto;
      height: 2.5em;
      text-align: center;
    }

    @media screen and (max-width: $breakpoint-sm-max) {
      h2 {
        width: 100%;
        top: 0;
        margin-right: 0;
        text-align: center;
      }

      h3 {
        width: 100%;
        height: auto;
        text-align: center;
      }
    }
  }

  .label-part2,
  .label-part3,
  .wallGraphics-part2 {
    h3 {
      height: 2.5em;
    }

    @media screen and (max-width: $breakpoint-sm-max) {
      h3 {
        height: auto;
      }
    }
  }

  .label-part3 {
    @media screen and (max-width: $breakpoint-sm-max) {
      h3 {
        height: 3.5em;
      }
    }

    @media screen and (max-width: $breakpoint-sm-max) {
      h3 {
        height: auto;
      }
    }
  }

  .magnets-part3 {
    a {
      color: #333;

      &:hover {
        color: $primary;
      }
    }
  }

  .fwb-customSticker2,
  .fwb-customButtons2,
  .fwb-customMagnets2 {
    h3 {
      height: 2.2em;
      text-align: center;
    }

    h2 {
      width: 70%;
    }

    @media screen and (max-width: $breakpoint-sm-max) {
      h3 {
        height: auto;
        text-align: left;
      }
      h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }

  .fwb-customLabels2,
  .fwb-customLabels3 {
    h3 {
      height: 2.2em;
    }

    @media screen and (max-width: $breakpoint-sm-max) {
      h3 {
        height: auto;
      }
    }
  }

  .fwb-wallGraphics2 {
    h3 {
      height: 2.2em;
      text-align: center;
    }

    @media screen and (max-width: $breakpoint-sm-max) {
      h3 {
        height: auto;
        text-align: left;
      }
    }
  }

  //band-stickers
  .band-stickers.f2 {
    .band_ul li {
      h3 {
        @include px2rem(font-size, 30px);
        margin: 0;
      }
    }

    .band_ul li div:nth-child(1) {
      float: left;
      display: flex;
      align-items: center;
      background-color: #50a0e2;
      color: #fff;
      text-align: center;
      border-radius: 0 25px 25px 25px;
      overflow: hidden;
      @include px2rem(padding-right, 20px);
      @include px2rem(height, 50px);
      @include px2rem(margin-bottom, 10px);
    }

    .band_ul li div:nth-child(1) p:nth-child(1) {
      display: inline-block;
      background-color: #c2e3ff;
      color: #237bc3;
      @include px2rem(width, 40px);
      @include px2rem(height, 40px);
      @include px2rem(line-height, 40px);
      border-radius: 0 20px 20px 20px;
      @include px2rem(font-size, 24px);
      @include px2rem(margin-left, 5px);
      @include px2rem(margin-right, 10px);
      @include px2rem(margin-bottom, 0);
    }

    .btn {
      @include px2rem(width, 600px);
      @include px2rem(height, 80px);
      @include px2rem(line-height, 80px);
      border-radius: 4px;
      @include px2rem(font-size, 30px);
      font-weight: 700;
      padding: 0;
    }

    @media screen and (min-width: $breakpoint-xl-min) {
      .band_ul li {
        border-bottom: 1px dashed #ccc;
        margin-bottom: 10px;

        h3 {
          font-size: 24px;
        }
      }

      .band_ul li div:nth-child(1) {
        padding-right: 20px;
        height: 40px;
        margin-bottom: 5px;
      }

      .band_ul li div:nth-child(1) p:nth-child(1) {
        width: 34px;
        height: 34px;
        line-height: 34px;
        border-radius: 0 20px 20px 20px;
        font-size: 24px;
        margin-left: 4px;
        margin-right: 10px;
        margin-bottom: 0;
      }

      .btn {
        width: 420px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
      }
    }
  }

  .band-stickers.f5 {
    .imgWrap {
      @include px2rem(height, 150px);
    }

    .btn {
      @include px2rem(width, 600px);
      @include px2rem(height, 80px);
      @include px2rem(line-height, 80px);
      border-radius: 4px;
      @include px2rem(font-size, 30px);
      font-weight: 700;
      padding: 0;
    }

    @media screen and (min-width: $breakpoint-xl-min) {
      .imgWrap {
        height: 150px;
      }
      .btn {
        width: 280px;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
      }
    }
  }

  //.custom-laptop-stickers
  .custom-laptop-stickers.f2 {
    .labtop_ul {
      width: 95%;
      margin-left: 5%;
    }

    .labtop_ul li {
      @include px2rem(padding-left, 60px);
      @include px2rem(margin-bottom, 30px);
      background-color: #eaf4ff;
      position: relative;
      box-shadow: 6px 6px 4px #d7e8fa;
      border-radius: 4px;

      h3 {
        color: $primary;
        @include px2rem(font-size, 30px);
      }

      p {
        @include px2rem(font-size, 18px);
      }
    }

    .labtop_ul li img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      @include px2rem(width, 89px);
      @include px2rem(height, 45px);
    }

    .btn {
      @include px2rem(width, 600px);
      @include px2rem(height, 80px);
      @include px2rem(line-height, 80px);
      border-radius: 4px;
      @include px2rem(font-size, 30px);
      font-weight: 700;
      padding: 0;
    }

    @media screen and (min-width: $breakpoint-xl-min) {
      .labtop_ul {
        width: 95%;
        margin-left: 5%;
      }

      .labtop_ul li {
        padding-left: 60px;
        margin-bottom: 30px;

        h3 {
          font-size: 24px;
        }

        p {
          font-size: 18px;
        }
      }

      .labtop_ul li img {
        width: 89px;
        height: 45px;
      }

      .btn {
        width: 450px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        font-size: 24px;
      }
    }
  }

  .custom-laptop-stickers.f5 {
    img {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      @include px2rem(width, 171px);
      @include px2rem(height, 153px);
      @media screen and (min-width: $breakpoint-xl-min) {
        width: 126px;
        height: 119px;
      }
    }

    .item {
      position: relative;
      @include px2rem(margin-top, 80px, mobile, true);
      @include px2rem(padding-top, 100px, mobile, true);
      @media screen and (min-width: $breakpoint-xl-min) {
        margin-top: 80px !important;
        padding-top: 80px !important;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      @include px2rem(width, 600px);
      @include px2rem(height, 80px);
      @include px2rem(line-height, 80px);
      border-radius: 4px;
      @include px2rem(font-size, 30px);
      font-weight: 700;
      padding: 0;
      @media screen and (min-width: $breakpoint-xl-min) {
        width: 280px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
      }
    }
  }

  //logo-stickers
  .logo-stickers.f2 {
    li {
      position: relative;
      @include px2rem(padding, 20px);
      @include px2rem(margin-top, 60px);
      border: 2px solid #ccc;
      border-radius: 4px;
    }

    p {
      @include px2rem(font-size, 24px);
      @include px2rem(margin-bottom, 0);
    }

    h3 {
      @include px2rem(font-size, 30px);
      margin: 0;
      white-space: nowrap;
    }

    .unitName {
      display: flex;
      justify-content: center;
      position: absolute;
      color: #fff;
      left: 50%;
      top: 0;
      transform: translate(-50%, -70%);
      border-style: solid;
      border-color: #2583D5 transparent transparent transparent;
      @include px2rem(border-top-width, 50px);
      @include px2rem(border-right-width, 10px);
      @include px2rem(border-bottom-width, 0px);
      @include px2rem(border-left-width, 10px);
      @include px2rem(width, 375px);
      height: 0;
      text-align: center;
      z-index: 5;
      background-color: #fff;
    }

    .unitName h3 {
      position: absolute;
      @include px2rem(top, -25px);
      transform: translateY(-50%);
    }

    .unitName p {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 20px solid #2583D5;
      @include px2rem(top, -50px);
    }

    .unitName p:nth-child(2) {
      @include px2rem(left, -30px);
      transform: rotate(130deg);
    }

    .unitName p:nth-child(3) {
      @include px2rem(right, -30px);
      transform: rotate(-130deg);
    }

    .btn {
      @include px2rem(width, 600px);
      @include px2rem(height, 80px);
      @include px2rem(line-height, 80px);
      border-radius: 4px;
      @include px2rem(font-size, 30px);
      font-weight: 700;
      padding: 0;
    }

    @media screen and (min-width: $breakpoint-xl-min) {
      li {
        padding: 20px 10px 10px;
        margin-top: 40px;
      }
      p {
        font-size: 18px;
        margin-bottom: 0;
      }
      h3 {
        font-size: 24px;
      }

      .unitName {
        border-width: 40px 10px 0 10px;
        width: 315px;
      }
      .unitName h3 {
        top: -20px;
      }

      .unitName p {
        top: -40px;
      }

      .unitName p:nth-child(2) {
        left: -30px;
      }

      .unitName p:nth-child(3) {
        right: -30px;
      }

      .btn {
        width: 340px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
      }
    }
  }

  .logo-stickers.f5 {
    .btn {
      @include px2rem(width, 420px);
      @include px2rem(height, 80px);
      @include px2rem(line-height, 80px);
      border-radius: 4px;
      @include px2rem(font-size, 30px);
      font-weight: 700;
      padding: 0;
    }

    @media screen and (min-width: $breakpoint-xl-min) {
      .btn {
        width: 280px;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
      }
    }
  }

  //circle-stickers
  .circle-stickers.f4 {
    text-align: left;

    .imgWrap {
      @include px2rem(width, 195px);
      @include px2rem(height, 181px);
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #E8E8E8;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.27);
      border-radius: 2px;
    }

    h3 {
      height: 2.2em;
    }

    @media screen and (min-width: $breakpoint-xl-min) {
      text-align: center;

      .list-item {
        overflow: hidden;
        position: relative;
        height: 100%;
        background-color: #fff;
        padding: 20px 10px;
        border: 1px solid #E8E8E8;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.27);
        border-radius: 3px;
      }

      .imgWrap {
        width: 100%;
        height: 130px;
        border: none;
        box-shadow: none;
        background: transparent;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .circle-stickers.f5 {
    a {
      text-decoration: none;
    }

    h3 {
      @include px2rem(font-size, 32px);
      margin-bottom: 0;
      color: #333;
    }

    .right {
      display: none;
    }

    .popular_div {
      @include px2rem(margin-top, 20px, mobile, true);
    }

    .hoverImg {
      display: none;
    }

    .aStyle1 a {
      text-decoration: underline;
    }

    @media screen and (min-width: $breakpoint-xl-min) {
      .popular_div {
        position: relative;
        cursor: pointer;
        margin-top: 20px !important;

        h3 {
          font-size: 24px;
          transition: color .3s ease-in-out;
        }

        img {
          transition: all .3s ease-in-out;
        }

        .right {
          display: inline-block;
          width: 11px !important;
          height: 8px !important;
        }

        .popular_item {
          position: relative;

          .hoverImg {
            display: block;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 11;
            transition: opacity .3s ease-in-out;
          }

          &::after {
            content: "";
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            z-index: 10;
            transition: opacity .3s ease-in-out;
          }
        }

        &:hover {
          .popular_item::after, .popular_item .hoverImg {
            opacity: 1;
          }

          h3 {
            color: $primary !important;
          }

          h3 > .right {
            width: 0 !important;
            height: 0 !important;
          }
          .custom-label-f1-div {
            display: none;
          }
        }
      }

    }
  }

  .circle-labels.f1 {
    .imgWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;

      .img1 {
        width: 49px;
        height: 48px;
      }

      .img2 {
        width: 51px;
        height: 48px;
      }

      .img3 {
        width: 44px;
        height: 45px;
      }

      .img4 {
        width: 49px;
        height: 48px;
      }

      .img5 {
        width: 70px;
        height: 32px;
      }

      .img6 {
        width: 65px;
        height: 37px;
      }

      @media screen and (max-width: $breakpoint-sm-max) {
        @include px2rem(height, 120px);
        .img1 {
          @include px2rem(width, 114px);
          @include px2rem(height, 112px);
        }
        .img2 {
          @include px2rem(width, 119px);
          @include px2rem(height, 110px);
        }
        .img3 {
          @include px2rem(width, 103px);
          @include px2rem(height, 105px);
        }
        .img4 {
          @include px2rem(width, 114px);
          @include px2rem(height, 112px);
        }
        .img5 {
          @include px2rem(width, 163px);
          @include px2rem(height, 75px);
        }
        .img6 {
          @include px2rem(width, 151px);
          @include px2rem(height, 87px);
        }
      }
    }
  }

  .circle-labels.f2 {
    .item {
      overflow: hidden;
      height: 100%;
      background: #FFFFFF;
      border: 4px solid #D9F2FF;
      border-radius: 10px;
    }
  }

  .circle-labels.f5,
  .public-labels1 {
    background: #f3f3f3 url('https://sticker-static.oss-accelerate.aliyuncs.com/image/uploads/20210615/Why-Choose-Circle-Labels-from-CustomSticker.png?x-oss-process=image/format,jpg/quality,q_80') center/cover no-repeat;

    .item {
      display: flex;
      color: #fff;
      @media screen and (min-width: $breakpoint-xl-min) {
        display: block;
        color: #333;
        height: 100%;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.27);
        border-radius: 3px;
      }

      .imgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.27);
        border-radius: 3px;
        @include px2rem(width, 195px);
        @include px2rem(height, 195px);
        @include px2rem(padding, 20px);
        @media screen and (min-width: $breakpoint-xl-min) {
          width: auto;
          height: 140px;
          padding: 0;
          background-color: transparent;
          border: none;
          box-shadow: none;
          border-radius: 0;
        }
      }
    }
  }

  .rectangle-labels.f1 {
    .imgWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;

      .img1 {
        width: 66px;
        height: 35px;
      }

      .img2 {
        width: 52px;
        height: 36px;
      }

      .img3 {
        width: 44px;
        height: 45px;
      }

      .img4 {
        width: 65px;
        height: 34px;
      }

      @media screen and (max-width: $breakpoint-sm-max) {
        @include px2rem(height, 120px);
        .img1 {
          @include px2rem(width, 159px);
          @include px2rem(height, 86px);
        }
        .img2 {
          @include px2rem(width, 125px);
          @include px2rem(height, 87px);
        }
        .img3 {
          @include px2rem(width, 106px);
          @include px2rem(height, 109px);
        }
        .img4 {
          @include px2rem(width, 156px);
          @include px2rem(height, 82px);
        }
      }
    }
  }

  .rectangle-labels.f2 {
    .container {
      max-width: 1140px;
      @media screen and (min-width: $breakpoint-xl-min) {
        .bg {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .clear-labels.f1 {
    .imgWrap {
      display: flex;
      justify-content: center;
      height: 100px;
      .img1 {
        width: 126px;
        height: 66px;
      }

      .img2 {
        width: 92px;
        height: 90px;
      }

      .img3 {
        width: 96px;
        height: 97px;
      }

      .img4 {
        width: 132px;
        height: 61px;
      }

      .img5 {
        width: 88px;
        height: 88px;
      }

      @media screen and (max-width: $breakpoint-sm-max) {
        align-items: center;
        @include px2rem(flex-basis, 120px);
        @include px2rem(height, 120px);
        .img1 {
          @include px2rem(width,169px);
          @include px2rem(height,89px);
        }

        .img2 {
          @include px2rem(width,115px);
          @include px2rem(height,112px);
        }

        .img3 {
          @include px2rem(width,122px);
          @include px2rem(height,123px);
        }

        .img4 {
          @include px2rem(width,163px);
          @include px2rem(height,75px);
        }

        .img5 {
          @include px2rem(width,110px);
          @include px2rem(height,110px);
        }
      }
    }
  }
  .clear-labels.f2{
    .bg{
      position: absolute;
      top:0;
      width: 100%;
      height: 352px;
      z-index: 0;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .imgWrap{
      display: flex;
      align-items: center;
      height: 180px;
    }

    @media screen and (max-width: $breakpoint-sm-max){
      .bg{
        bottom:0;
        height: 100%;
      }
      .row{
        background-color: transparent !important;
        color:#fff
      }
      .imgWrap{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.27);
        border-radius: 3px;
        @include px2rem(width, 195px);
        @include px2rem(height, 195px);
        @include px2rem(padding, 20px);
      }
      .item{
        display: flex;
      }
    }
  }
}
